@model List<TeamMembers>

@{
    ViewData["Title"] = "Про нас"; // Встановлюємо заголовок сторінки
}

<h1>Про нас</h1>

<p>
    Ласкаво просимо на нашу сторінку "Про нас"! Наша компанія прагне забезпечити високу якість послуг та задоволення потреб наших клієнтів.
</p>

<h2>Наша команда</h2>
<p>
    Познайомтесь із нашими професіоналами, які працюють над вашими проектами:
</p>

<ul>
    @foreach (var member in Model) // Використовуємо Model для доступу до членів команди
    {
        <li>
            <strong>@member.Name</strong> - @member.Position<br />
            @member.Description
        </li>
    }
</ul>

<p>
    Ми віримо в інновації та розвиток. Наші проекти відображають наші цінності та прагнення до досконалості. Дякуємо, що обрали нас!
</p>
